@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
body {
  /* overflow: hidden; */
  background: #f0f2f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f0f2f0,
    #000c40
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f0f2f0, #000c40);
  /* cursor: none; */
}
#cursor{
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 2px solid #000;
  box-sizing: border-box;
  /* transition: 0.1s; */
  transform: translate(-50%,-50%);
  border-radius: 50%;
}